.container {
  display: flex;
  gap: 20px;
  margin-bottom: 2em;
}

.container li {
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.container li a:hover {
  color: #172554;
  text-decoration: wavy underline;
}

.container li a[aria-current="page"] {
  color: #172554;
  text-decoration: wavy underline;
}

